openapi: 3.0.0
info:
  title: Brain-Raymaizing KB API
  description: Central API for accessing RayCorp Knowledge Base
  version: 1.0.0
  contact:
    name: API Support
    email: api-support@raycorp.com

servers:
  - url: https://api.raycorp.com/v1
    description: Production API
  - url: https://staging-api.raycorp.com/v1
    description: Staging API

paths:
  /kb/entities:
    get:
      summary: List all entities
      description: Get list of all entities in knowledge base
      tags:
        - Knowledge Base
      parameters:
        - name: entity_type
          in: query
          description: Filter by entity type (brand, unit, product, division)
          schema:
            type: string
        - name: limit
          in: query
          description: Number of results to return
          schema:
            type: integer
            default: 50
        - name: offset
          in: query
          description: Number of results to skip
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: List of entities
          content:
            application/json:
              schema:
                type: object
                properties:
                  entities:
                    type: array
                    items:
                      $ref: '#/components/schemas/Entity'
                  total:
                    type: integer
                  limit:
                    type: integer
                  offset:
                    type: integer

  /kb/entities/{entity_id}:
    get:
      summary: Get entity knowledge base
      description: Get complete knowledge base for specific entity
      tags:
        - Knowledge Base
      parameters:
        - name: entity_id
          in: path
          required: true
          description: Entity ID
          schema:
            type: string
      responses:
        '200':
          description: Entity knowledge base
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityKB'
        '404':
          description: Entity not found

  /kb/search:
    get:
      summary: Search knowledge base
      description: Semantic search across knowledge base
      tags:
        - Knowledge Base
      parameters:
        - name: q
          in: query
          required: true
          description: Search query
          schema:
            type: string
        - name: entity_type
          in: query
          description: Filter by entity type
          schema:
            type: string
        - name: limit
          in: query
          description: Number of results
          schema:
            type: integer
            default: 10
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/SearchResult'
                  total:
                    type: integer

  /bots:
    get:
      summary: List all bots
      description: Get list of all AI bots
      tags:
        - Bots
      parameters:
        - name: platform
          in: query
          description: Filter by platform (custom-gpt, gemini-gem, n8n)
          schema:
            type: string
        - name: status
          in: query
          description: Filter by status (active, inactive, development)
          schema:
            type: string
      responses:
        '200':
          description: List of bots
          content:
            application/json:
              schema:
                type: object
                properties:
                  bots:
                    type: array
                    items:
                      $ref: '#/components/schemas/Bot'
                  total:
                    type: integer

  /bots/{bot_id}:
    get:
      summary: Get bot configuration
      description: Get configuration for specific bot
      tags:
        - Bots
      parameters:
        - name: bot_id
          in: path
          required: true
          description: Bot ID
          schema:
            type: string
      responses:
        '200':
          description: Bot configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BotConfig'
        '404':
          description: Bot not found

  /bots/{bot_id}/sync:
    post:
      summary: Sync bot
      description: Trigger bot synchronization with latest KB
      tags:
        - Bots
      parameters:
        - name: bot_id
          in: path
          required: true
          description: Bot ID
          schema:
            type: string
      responses:
        '200':
          description: Sync initiated
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  sync_id:
                    type: string
                  estimated_time:
                    type: integer

  /integrations:
    get:
      summary: List integrations
      description: Get list of all platform integrations
      tags:
        - Integrations
      responses:
        '200':
          description: List of integrations
          content:
            application/json:
              schema:
                type: object
                properties:
                  integrations:
                    type: array
                    items:
                      $ref: '#/components/schemas/Integration'

  /health:
    get:
      summary: Health check
      description: Check API health status
      tags:
        - System
      responses:
        '200':
          description: API is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  timestamp:
                    type: string
                  version:
                    type: string

components:
  schemas:
    Entity:
      type: object
      properties:
        entity_id:
          type: string
        entity_name:
          type: string
        entity_type:
          type: string
        category:
          type: string
        status:
          type: string

    EntityKB:
      type: object
      properties:
        entity_id:
          type: string
        entity_name:
          type: string
        internal_kb:
          type: string
        external_kb:
          type: string
        shared_knowledge:
          type: array
          items:
            type: string
        last_updated:
          type: string

    SearchResult:
      type: object
      properties:
        entity_id:
          type: string
        entity_name:
          type: string
        content:
          type: string
        relevance_score:
          type: number
        source:
          type: string

    Bot:
      type: object
      properties:
        bot_id:
          type: string
        bot_name:
          type: string
        platform:
          type: string
        entity_id:
          type: string
        status:
          type: string
        last_updated:
          type: string

    BotConfig:
      type: object
      properties:
        bot_id:
          type: string
        bot_name:
          type: string
        platform:
          type: string
        system_prompt:
          type: string
        kb_files:
          type: array
          items:
            type: string
        capabilities:
          type: array
          items:
            type: string
        integrations:
          type: array
          items:
            type: string

    Integration:
      type: object
      properties:
        integration_id:
          type: string
        integration_name:
          type: string
        platform:
          type: string
        status:
          type: string
        last_sync:
          type: string

  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key

security:
  - ApiKeyAuth: []
